{% extends 'list.html' %}

{% url 'desk:create' as create_url %}
{% url 'desk:update' as update_url %}
{% url 'desk:delete' as delete_url %}

{% block content_title %}
<h1>Desktop App Modules</h1>
{% endblock content_title %}

{% block table_headers %}
    <th>ID</th>
    <th>Module</th>
    <th>Type</th>
    <th>Description</th>
    <th>List</th>
    <th>Form</th>
    <th>External URL</th>
    <th>Parent Module</th>
    <th>Sort Order</th>
    <th>Is Active?</th>
{% endblock table_headers %}

{% block table_rows %}
    <td>{{ module.id }}</td>
    <td class="valign-wrapper left-align">
            <span class="material-symbols-outlined">{{ module.icon }}</span> &nbsp; {{ module.title }}
    </td>
    <td>{{ module.module_type }}</td>
    <td>{{ module.description }}</td>
    <td>{{ module.list_definition_id|default_if_none:"" }}</td>
    <td>{{ module.form_id|default_if_none:"" }}</td>
    <td>{{ module.external_url|default_if_none:"" }}</td>
    <td>{{ module.parent_module_id|default_if_none:"Root" }}</td>
    <td>{{ module.sort_order }}</td>
    <td><label for="checkbox-for-{{ module.id }}"><input id="checkbox-for-{{ module.id }}" class="filled-in" type="checkbox" {% if module.is_active %} checked {% endif %} disabled/><span></span></label></td>
{% endblock table_rows %}
