{% load static %}
<footer class="page-footer white black-text">
    <div class="container">
        <div class="row">
            <div class="col s12 m7 footer-copyright white black-text ">
                <p>Developed by the Department of Livestock Services (Bangladesh Government) with support from FAO
                    Bangladesh ECTAD 2024.</p>
            </div>
            <div class="col s12 m5 funders">
                <p class="valign-wrapper right-align">With thanks to our funders&nbsp;
                    <img src="{% static 'img/funders.png' %}" alt="funder logos"/>
                </p>
            </div>
        </div>
    </div>
</footer>