{% extends "base.html" %}

{% block content %}
    <h1>Welcome to BAHIS Management</h1>

    <div class="row">
        {% if user.is_superuser %}
            <div class="col s12 m6 l4">
                <a href="{% url 'frontend:permissions' %}">
                    <div class="portal-menu card">
                        <div class="card-content center">
                            <i class="material-symbols-outlined">manage_accounts</i>
                            <span class="card-title">BAHIS Users</span>
                            <p>Manage BAHIS user accounts and profiles, including assigning roles.</p>
                        </div>
                        <div class="card-action">
                            Manage Users
                        </div>
                    </div>
                </a>
            </div>
            <div class="col s12 m6 l4">
                <a href="{% url 'desk:list' %}">
                    <div class="portal-menu card">
                        <div class="card-content center">
                            <i class="material-symbols-outlined">display_settings</i>
                            <span class="card-title">BAHIS Desktop App</span>
                            <p>Manage modules and workflows for the BAHIS Desktop App.</p>
                        </div>
                        <div class="card-action">
                            Manage Desktop App
                        </div>
                    </div>
                </a>
            </div>
        {% endif %}
        <div class="col s12 m6 l4">
            <a target="_blank" href="{{ kobo_url }}">
                <div class="portal-menu card">
                    <div class="card-content center">
                        <i class="material-symbols-outlined">quiz</i>
                        <span class="card-title">BAHIS Forms</span>
                        <p>Manage BAHIS forms and surveys. Powered by KoboToolbox.</p>
                    </div>
                    <div class="card-action">
                        Manage Forms with BAHIS Toolbox
                    </div>
                </div>
            </a>
        </div>
        {% if user.is_superuser %}
            <div class="col s12 m6 l4">
                <a href="{% url 'taxonomies:list' %}">
                    <div class="portal-menu card">
                        <div class="card-content center">
                            <i class="material-symbols-outlined">category</i>
                            <span class="card-title">BAHIS Taxonomies</span>
                            <p>Manage BAHIS Taxonomies such as adminsitrative regions and more.</p>
                        </div>
                        <div class="card-action">
                            Manage Taxonomies
                        </div>
                    </div>
                </a>
            </div>
        {% endif %}
        <div class="col s12 m6 l4">
            <a target="_blank" href="{{ dash_url }}">
                <div class="portal-menu card">
                    <div class="card-content center">
                        <i class="material-symbols-outlined">insights</i>
                        <span class="card-title">BAHIS Dashboard</span>
                        <p>Access the BAHIS Dashboard to get real insights from BAHIS data.</p>
                    </div>
                    <div class="card-action">
                        Dashboard
                    </div>
                </div>
            </a>
        </div>

        <div class="col s12 m6 l4">
            <a target="_blank" href="{{ dash_url }}">
                <div class="portal-menu card">
                    <div class="card-content center">
                        <i class="material-symbols-outlined">query_stats</i>
                        <span class="card-title">BAHIS Queries</span>
                        <p>Access the BAHIS Metabase instance to make custom queries of the BAHIS data.</p>
                    </div>
                    <div class="card-action">
                        Query Data with Metabase
                    </div>

                </div>
            </a>
        </div>

    </div>
{% endblock content %}
